# Modules folder
/node_modules/
.DS_Store

# Build folder
/build/

# Coverage directory used by tools like istanbul
coverage

# Debug log from npm
npm-debug.log

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.vscode
.history
