# Modules folder
/node_modules/
.DS_Store

# Build folder
/build/

# Coverage directory used by tools like istanbul
coverage

# Debug log from npm or yarn
*.log
logs

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.vscode
.history
